<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning Logs</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <strong class="navbar-item is-size-4">Learning Log</strong>

      <button role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </button>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <ul class="navbar-start">
        <li class="navbar-item">
          <a href="{% url 'learning_logs:index' %}">Home</a>
        </li>
        <li class="navbar-item">
          <a href="{% url 'learning_logs:topics' %}">Topics</a>
        </li>
      </ul>

      <ul class="navbar-end">
        {% if user.is_authenticated %}
          <li class="navbar-item">{{ user.username|title }}</li>
          <li class="navbar-item">
            <a href="{% url 'users:logout' %}" class="button is-danger">Logout</a>
          </li>
        {% else %}
          <li class="navbar-item">
            <a href="{% url 'users:register' %}" class="button is-primary">Sign up</a>
          </li>
          <li class="navbar-item">
            <a href="{% url 'users:login' %}" class="button is-light">Log in</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <main class="container">
    {% block content %}{% endblock content %}
  </main>

</body>
</html>
