{% extends "learning_logs/base.html" %}

{% block content %}
  <h2 class="subtitle"><b>Topic: {{ topic }}</b></h2>

  <p class="is-size-5 mb-3">Entries:</p>

  <p class="mb-4"><a class="button is-success"
    href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a></p>

  <article class="ml-4">
    {% for entry in entries %}
      <section class="mb-6">
        <p class="is-italic"><small>{{ entry.date_added|date:'M d, Y P' }}</small></p>
        <p>{{ entry.text|linebreaks }}</p>

        <p><a class="button is-link is-light is-small mt-2"
          href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a></p>
      </section>
    {% empty %}
      <div>There are no entries for this topic yet.</div>
    {% endfor %}
  </article>
{% endblock content %}
